@media(max-width:720px){
    .label-defesa{
        font-size: 1em;
        font-weight: bold;
        background: var(--dark);
        color: var(--primary);
        padding: 4px 0 4px 0;
    }
    
    .label-legenda-defesa{
        font-size: 0.75em;
    }

    .label-legenda-armadura-escudo{
        font-size: 1em;
        font-weight: bold;
        background: var(--dark);
        color: var(--primary);
        padding: 4px 0 4px 0;
    }

    .label-legenda-armadura-escudo-def,
    .label-legenda-armadura-escudo-pen{
        font-size: 0.8em;
        font-weight: bold;
        background: var(--dark);
        color: var(--primary);
        padding: 6px 8px 6px 0;
    }
}